

.place__paragraph {
   margin: 0;
   padding-bottom: 27px;
 }

@media (max-width: 1000px) {
   .place__paragraph {
     padding-bottom: 25px;
   }
 }

 @media (max-width: 625px) {
   .place__paragraph {
     padding-bottom: 25px;
   }
 }