.header__lang-link {
  color: #fff;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
