.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 92px 148px;
  padding: 0;
}

@media (max-width: 1184px) {
  .places {
    margin: 92px 48px;
    
  }
}

@media (max-width: 1000px) {
  .places {
    margin: 88px 24px 90px;
    gap: 73px;
  }
}

@media (max-width: 400px) {
  .places {
    margin: 66px auto;
    max-width: 320px;
    gap: 50px;
  }
}
