.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
}

@media (max-width: 1184px) {
  .place {
    grid-template-columns: 440px 1fr;
    row-gap: 48px;
    column-gap: 32px;
  }
}

@media (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media (max-width: 625px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
    row-gap: 32px;
  }
}
