.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  max-width: 690px;
}

@media (max-width: 1000px) {
  .intro__list {
    max-width: 720px;
  }
}

@media (max-width: 600px) {
  .intro__list {
    max-width: 288px;
  }
}
