.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 148px;
}

@media (max-width: 1184px) {
  .lead {
    margin: 0 48px;
    max-width: 928px;
  }
}
@media (max-width: 1000px) {
  .lead {
    margin: 0 auto;
  }
}
@media (max-width: 750px) {
  .lead {
    max-width: 620px;
  }
}

@media (max-width: 600px) {
  .lead {
    max-width: 320px;
  }
}
