.lead {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .lead {
   padding: 0;
  }
}