.place__paragraphs {
  margin: 0;
  line-height: 163%;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .place__paragraphs {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .place__paragraphs {
    grid-area: place__paragraphs;
    padding: 0 16px;
  }
}
