

.lead__image {
   max-width: 984px;
   display: block;
 }

 @media (max-width: 1184px) {
   .lead__image {
     max-width: 984px;
     width: 100%;
     margin: 0 auto;
   }
 }

 @media (max-width: 1000px) {
   .lead__image {
     max-width: 100%;
     max-width: 768px;
   }
 }

 @media (max-width: 695px) {
   .lead__image {
     max-width: 100%;
   }
 }