

.intro__text {
   margin: 0;
   padding: 40px 0 33px;
   line-height: 26.08px;
   font-size: 16px;
   font-weight: 400;
   max-width: 690px;
 }
 
 @media (max-width: 1000px) {
   .intro__text {
     max-width: 720px;
   }
 }
 @media (max-width: 600px) {
   .intro__text {
     max-width: 288px;
   }
 }
 