

.intro {
   display: flex;
   flex-direction: column;
   margin: 92px 442px 92px 148px;
 }
 
 

@media (max-width: 1184px) {
   .intro {
     max-width: 690px;
     margin: 92px 286px 92px 48px;
   }
 }
 
 @media (max-width: 1000px) {
   .intro {
     max-width: 720px;
     margin: 88px 24px 88px 24px;
   }
 }
 
 @media (max-width: 600px) {
   .intro {
     margin: 64px 16px;
   }
 }
 