.intro {
  display: flex;
  flex-direction: column;
  margin: 92px auto 92px 148px;
  max-width: 690px;
}

@media (max-width: 1184px) {
  .intro {
    
    margin: 92px auto 92px 48px;
  }
}

@media (max-width: 800px) {
  .intro {
    margin: 88px 24px 88px;
    
  }
}

@media (max-width: 400px) {
  .intro {
    margin: 64px 16px;
  }
}
