.lead__caption {
  margin: 0;
  padding: 8px 0 0;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: start;
}

@media (max-width: 1000px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 695px) {
  .lead__caption {
    padding-left: 16px;
    line-height: 13px;
  }
}
