.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px;
}

@media (max-width: 1000px) {
  .footer {
    margin: 87px 24px 24px;
  }
}

@media (max-width: 708px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
    margin: 64px 20px 24px 19px;
  }
}
