.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px;
}

@media (max-width: 1000px) {
  .footer {
    margin: 87px 24px 24px;
  }
}

@media (max-width: 708px) {
  .footer {
    gap: 48px;
    flex-direction: column;
    margin: 64px 118px 24px 16px;
  }
}
