.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px 48px 24px;
}

@media (max-width: 1184px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1000px) {
  .footer {
    max-width: 720px;
    margin: 87px 24px 24px;
  }
}

@media (max-width: 600px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    flex-direction: column;
    margin: 64px 20px 24px 19px;
  }
}
